<form [formGroup]="filterForm" (submit)="submit()" class="flex flex-wrap gap-4 items-center justify-center bg-gray-100 p-2">
    <p-floatlabel variant="in">
        <input pInputText id="in_title" pSize="small" formControlName="title" autocomplete="off" />
        <label for="in_title">{{ 'content.title' | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="in">
        <input pInputText id="in_minimumRating" pSize="small" formControlName="minimumRating" autocomplete="off" />
        <label for="in_minimumRating">{{ 'content.minimum-rating' | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="in">
        <input pInputText id="in_minimumPrice" pSize="small" formControlName="minimumPrice" autocomplete="off" />
        <label for="in_minimumPrice">{{ 'content.minimum-price' | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="in">
        <input pInputText id="in_maximumPrice" pSize="small" formControlName="maximumPrice" autocomplete="off" />
        <label for="in_maximumPrice">{{ 'content.maximum-price' | translate }}</label>
    </p-floatlabel>
    <div class="flex flex-wrap gap-4 items-center justify-center">
        <p-button type="submit" label="{{ 'content.apply' | translate }}" severity="success" />
        <p-button label="{{ 'content.reset' | translate }}" severity="warn"(click)="reset()" />
    </div>
</form>
