<form [formGroup]="filterForm" (submit)="submit()" class="flex flex-wrap gap-4 items-center justify-center bg-gray-100 p-2">
    <p-floatlabel variant="in">
        <input pInputText id="in_title" pSize="small" formControlName="title" autocomplete="off" />
        <label for="in_title">Title</label>
    </p-floatlabel>
    <p-floatlabel variant="in">
        <input pInputText id="in_minimumRating" pSize="small" formControlName="minimumRating" autocomplete="off" />
        <label for="in_minimumRating">Minimum Rating</label>
    </p-floatlabel>
    <p-floatlabel variant="in">
        <input pInputText id="in_minimumPrice" pSize="small" formControlName="minimumPrice" autocomplete="off" />
        <label for="in_minimumPrice">Minimum Price</label>
    </p-floatlabel>
    <p-floatlabel variant="in">
        <input pInputText id="in_maximumPrice" pSize="small" formControlName="maximumPrice" autocomplete="off" />
        <label for="in_maximumPrice">Maximum Price</label>
    </p-floatlabel>
    <div class="flex flex-wrap gap-4 items-center justify-center">
        <p-button type="submit" label="Apply" severity="success" />
        <p-button label="Reset" severity="warn"(click)="reset()" />
    </div>
</form>
