<app-trip-of-the-day
    [trip]="(tripOfTheDay$ | async) ?? null"
    [loading]="(tripOfTheDayIsLoading$ | async) ?? false"
    [hasError]="(tripOfTheDayHasError$ | async) ?? false"
    (requestTrip)="onRequestTrip()"
></app-trip-of-the-day>
<app-list-of-trips-filter
    [filter]="(tripsPagination$ | async)?.filter ?? {}"
    (filterChange)="onFilterChange($event)"
></app-list-of-trips-filter>
<app-list-of-trips-table
    [listOfTrips]="(listOfTrips$ | async) ?? []"
    [pagination]="(tripsPagination$ | async) ?? defaultTripsPagination"
    [loading]="(listOfTripsIsLoading$ | async) ?? false"
    [hasError]="(listOfTripsHasError$ | async) ?? false"
    [listOfTripsNumber]=" (listOfTripsNumber$ | async) ?? 0"
    (paginationChange)="onPaginationChange($event)"
></app-list-of-trips-table>