<p-table
    [value]="listOfTrips"
    [lazy]="true"
    [paginator]="true"
    [loading]="loading"
    [rows]="listOfTrips.length"
    [first]="tableFirst"
    [totalRecords]="listOfTripsNumber"
    [rowsPerPageOptions]="[5, 10, 20]"
    [showCurrentPageReport]="true"
    [customSort]="true"
    [sortField]="pagination.sortProperty"
    [sortOrder]="pagination.sortDescending ? -1 : 1"
    [currentPageReportTemplate]="'content.table.page-report' | translate"
    selectionMode="single"
    (onLazyLoad)="lazyLoad($event)"
    >
    <ng-template #header>
        <tr>
            <th [pSortableColumn]="sortableColumns.title">{{ 'content.title' | translate }} <p-sortIcon [field]="sortableColumns.title" /></th>
            <th>{{ 'content.image' | translate }}</th>
            <th [pSortableColumn]="sortableColumns.price">{{ 'content.price' | translate }} <p-sortIcon [field]="sortableColumns.price" /></th>
            <th [pSortableColumn]="sortableColumns.verticalType">{{ 'content.vertical-type' | translate }} <p-sortIcon [field]="sortableColumns.verticalType" /></th>
            <th [pSortableColumn]="sortableColumns.rating">{{ 'content.rating' | translate }} <p-sortIcon [field]="sortableColumns.rating" /></th>
            <th>{{ 'content.emission' | translate }}</th>
            <th [pSortableColumn]="sortableColumns.creationDate">{{ 'content.created' | translate }} <p-sortIcon [field]="sortableColumns.creationDate" /></th>
            <th>{{ 'content.score' | translate }}</th>
        </tr>
    </ng-template>
    <ng-template #body let-trip>
        <tr [routerLink]="getTripRoute(trip.id)" class="cursor-pointer">
            <td>{{ trip.title }}</td>
            <td>
                <img
                    height="48px" width="48px"
                    [src]="trip.thumbnailUrl"
                    [alt]="trip.description"
                    class="w-24 rounded"
                />
            </td>
            <td>{{ trip.price | currency: 'USD' }}</td>
            <td>{{ verticalTypeTranslationKey(trip.verticalType) | translate | titlecase }}</td>
            <td><p-rating [(ngModel)]="trip.rating" [readonly]="true" [disabled]="true" /></td>
            <td>{{ trip.co2Emission | co2 }}</td>
            <td>{{ trip.creationDate | date }}</td>
            <td>
                <p-tag [value]="getScoreTranslationKey(trip.score) | translate" [severity]="getSeverity(trip.score)" />
            </td>
        </tr>
    </ng-template>
</p-table>
<p-toast position="bottom-right"></p-toast>