<p-table
    [value]="listOfTrips"
    [lazy]="true"
    [paginator]="true"
    [loading]="loading"
    [rows]="listOfTrips.length"
    [first]="tableFirst"
    [totalRecords]="listOfTripsNumber"
    [rowsPerPageOptions]="[5, 10, 20]"
    [showCurrentPageReport]="true"
    [customSort]="true"
    [sortField]="pagination.sortProperty"
    [sortOrder]="pagination.sortDescending ? -1 : 1"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    selectionMode="single"
    (onLazyLoad)="lazyLoad($event)"
    >
    <ng-template #header>
        <tr>
            <th [pSortableColumn]="sortableColumns.title">Title <p-sortIcon [field]="sortableColumns.title" /></th>
            <th>Image</th>
            <th [pSortableColumn]="sortableColumns.price">Price <p-sortIcon [field]="sortableColumns.price" /></th>
            <th [pSortableColumn]="sortableColumns.verticalType">verticalType <p-sortIcon [field]="sortableColumns.verticalType" /></th>
            <th [pSortableColumn]="sortableColumns.rating">Reviews <p-sortIcon [field]="sortableColumns.rating" /></th>
            <th>Emissions</th>
            <th [pSortableColumn]="sortableColumns.creationDate">Creation <p-sortIcon [field]="sortableColumns.creationDate" /></th>
            <th>Score</th>
        </tr>
    </ng-template>
    <ng-template #body let-trip>
        <tr [routerLink]="getTripRoute(trip.id)" class="cursor-pointer">
            <td>{{ trip.title }}</td>
            <td>
                <img
                    height="48px" width="48px"
                    [src]="trip.thumbnailUrl"
                    [alt]="trip.description"
                    class="w-24 rounded"
                />
            </td>
            <td>{{ trip.price | currency: 'USD' }}</td>
            <td>{{ trip.verticalType | titlecase }}</td>
            <td><p-rating [(ngModel)]="trip.rating" [readonly]="true" [disabled]="true" /></td>
            <td>{{ trip.co2Emission | co2 }}</td>
            <td>{{ trip.creationDate | date }}</td>
            <td>
                <p-tag [value]="getScoreTranslationKey(trip.score)" [severity]="getSeverity(trip.score)" />
            </td>
        </tr>
    </ng-template>
</p-table>
<p-toast position="bottom-right"></p-toast>